// Primary Colors
$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);
$background-color: hsl(215, 100%, 97%);

// Neutral
$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

//Screen Sizes
$mobile: 375;
$desktop: 1440;

// Font Weights
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

//form sizes
$form-width: 1263px;
$form-max-width: 90vw;
$form-max-hight: 803px;
$form-border-radius: 15px;
$form-padding: 1.2rem;
