.wrapper {
  height: 800px;
  width: 365px;
  border-radius: 15px;
  background-image: url("../../../public/assets/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.formSteps {
  padding: 4.2rem 5.4rem;
}

.list-container {
  list-style: none;
  margin: 0;
  list-style-position: inside;

  li {
    position: relative;
    font-size: 1.6rem;
    margin-top: 4.2rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.circled-number {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}
