.wrapper {
  height: 800px;
  width: 365px;
  border-radius: 15px;
  background-image: url("../../../public/assets/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.formSteps {
  padding: 4.2rem 5.4rem;
}
