@import "../../../app/variables.scss";

.wrapper {
  height: 800px;
  width: 365px;
  border-radius: 15px;
  background-image: url("../../../public/assets/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.formSteps {
  padding: 4.2rem 3.5rem;
}

.list-container {
  list-style: none;
  margin: 0;
  width: 100%;
  list-style-position: inside;

  li {
    display: flex;
    font-size: 1.6rem;
    margin-top: 4.2rem;

    &:first-child {
      margin-top: 0;
    }
  }
}
